{#
* Copyright (C) 2019-2025 Carlos Garcia Gomez <carlos@facturascripts.com>
* Author Carlos Garcia Gomez <carlos@facturascripts.com>
#}

<div class="card shadow mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <p>{{ trans('connect-a-printer-p') }}</p>
                <div class="dropdown d-inline-block me-1">
                    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa-solid fa-download me-1"></i> {{ trans('download-app') }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="https://megacity20.fra1.digitaloceanspaces.com/software/mc20printer/mc20printer-1.0.0%20Setup.exe">
                            <i class="fa-brands fa-windows fa-fw me-1"></i> Windows 10/11 (64 bits)
                        </a>
                        <a class="dropdown-item"
                           href="https://megacity20.fra1.digitaloceanspaces.com/software/mc20printer/mc20printer-darwin-x64-1.1.0.zip">
                            <i class="fa-brands fa-apple fa-fw me-1"></i> Mac
                        </a>
                        <a class="dropdown-item"
                           href="https://megacity20.fra1.digitaloceanspaces.com/software%2Fmc20printer%2Fmc20printer_1.1.0_amd64.deb">
                            <i class="fa-brands fa-linux fa-fw me-1"></i> Linux (.deb)
                        </a>
                        <a class="dropdown-item"
                           href="https://megacity20.fra1.digitaloceanspaces.com/software/mc20printer/mc20printer-1.0-1.x86_64.rpm">
                            <i class="fa-brands fa-linux fa-fw me-1"></i> Linux (.rpm)
                        </a>
                    </div>
                </div>
                <h1 class="h4 mt-5 mb-1">URL:</h1>
                <code>{{ fsc.getAppUrl() }}</code>
                <h2 class="h4 mt-4 mb-1">{{ trans('api-key') }}:</h2>
                <code>{{ fsc.getAppKey() }}</code>
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('Dinamic/Assets/Images/printer-app.png') }}" alt="app" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>