<div class="card shadow mb-3">
    <div class="card-body">
        <div class="form-row">
            <div class="col-sm">
                <p>{{ i18n.trans('connect-a-printer-p') }}</p>
                <a href="https://megacity20.com/support/84" target="_blank" class="btn btn-info">
                    <i class="fas fa-download"></i> {{ i18n.trans('download-app') }}
                </a>
                <h1 class="h4 mt-5 mb-1">URL:</h1>
                <code>{{ fsc.getAppUrl() }}</code>
                <h2 class="h4 mt-4 mb-1">{{ i18n.trans('api-key') }}:</h2>
                <code>{{ fsc.getAppKey() }}</code>
            </div>
            <div class="col-sm-4">
                <img src="{{ asset('Dinamic/Assets/Images/printer-app.png') }}" alt="app"/>
            </div>
        </div>
    </div>
</div>