{% extends "Master/MenuBghTemplate.html.twig" %}

{% block bodyHeaderOptions %}
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: -60px;">
        <div class="row">
            <div class="col-12">
                <form action="{{ fsc.url() }}" method="post">
                    <input type="hidden" name="action" value="print"/>
                    <input type="hidden" name="modelClassName" value="{{ fsc.modelClassName }}"/>
                    <input type="hidden" name="modelCode" value="{{ fsc.modelCode }}"/>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h1 class="h2 mb-3">
                                <i class="{{ fsc.getPageData().icon }}"></i> {{ fsc.title }}
                            </h1>
                            <div class="mb-3">
                                <select name="format" class="form-select" required>
                                    {% for format in fsc.getFormats(fsc.modelClassName) %}
                                        <option value="{{ format.className }}">{{ trans(format.label) }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% for printer in fsc.printers %}
                                {% if printer.isActive() %}
                                    <button type="submit" name="printer" value="{{ printer.id }}"
                                            class="btn w-100 btn-lg btn-success mt-3">
                                        <i class="fa-solid fa-print"></i>&nbsp; {{ printer.name }}
                                    </button>
                                {% else %}
                                    <button type="submit" name="printer" value="{{ printer.id }}"
                                            class="btn w-100 btn-lg btn-warning">
                                        <i class="fa-solid fa-print"></i>&nbsp; {{ printer.name }}
                                    </button>
                                    <p class="text-muted">
                                        {{ trans('last-activity') }}: {{ printer.lastactivity }}
                                    </p>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-dismissible alert-warning mb-0">
                                    {{ trans('no-printer-connected') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card shadow mb-5">
                        <div class="card-body">
                            <h2 class="h3">
                                <i class="fa-solid fa-print"></i> {{ trans('connect-a-printer') }}
                            </h2>
                            <p>{{ trans('connect-a-printer-p') }}</p>
                            <a href="ListTicketPrinter" class="btn btn-secondary">
                                {{ trans('printers') }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <img src="http://localhost:8089/" alt="remote-printer" class="d-none"/>
{% endblock %}